@import url("colors.css");
@import url("variables.css");

html {
    font-size: var(--font-size-global);
    color: var(--white-color);
    background-color: var(--dark-color);
    font-family: "VR_Standard", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--gold-color);
}
